<br><div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="cargbaby">
                <form action="" method="post">
                    <h2 class="card-title"><center>REGISTRO DE MATRIMONIO</center></h2><br>
                    <div class="row">
                        <div class="col">
                            Fecha de Inscripcion: <input type="date" name="fechaInscripcion">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="congregacion" class="form-control" placeholder="congregacion">
                        </div>
                        <div class="col">
                            <input type="text" name="folio" class="form-control" placeholder="folio">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="escritura" class="form-control" placeholder="escritura">
                        </div>
                        <div class="col">
                            Fecha de escritura: <input type="date" name="fechaEscritura">
                        </div>
                        <div class="col">
                            <input type="text" name="lugar" class="form-control" placeholder="lugar">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="nombreEsposo" class="form-control" placeholder="Nombre del Esposo">
                        </div>
                        <div class="col">
                            <input type="text" name="cedulaEsposo" class="form-control" placeholder="cedula Esposo">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="nombreEsposa" class="form-control" placeholder="Nombre de la Esposa">
                        </div>
                        <div class="col">
                            <input type="text" name="cedulaEsposa" class="form-control" placeholder="cedula Esposa">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="telefono1" class="form-control" placeholder="Telefono">
                        </div>
                        <div class="col">
                            <input type="text" name="celular" class="form-control" placeholder="celular">
                        </div>
                        <div class="col">
                            <input type="text" name="direccion" class="form-control" placeholder="direccion">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="testigo1" class="form-control" placeholder="testigo 1">
                        </div>
                        <div class="col">
                            <input type="text" name="cedulaTestigo1" class="form-control" placeholder="cedula Testigo 1">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <input type="text" name="testigo2" class="form-control" placeholder="testigo 2">
                        </div>
                        <div class="col">
                            <input type="text" name="cedulaTestigo2" class="form-control" placeholder="cedula Testigo 2">
                        </div>
                    </div>
                    <br>
                   <center><button type="submit" class="btn btn-success btn-info btn-lg">Enviar</button></center>
                </form>
            </div>
        </div>
<br>
        <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">consultar</h5>
            <a href="/matrimonio/consultar" class="btn btn-success btn-info btn-lg">Ir Aqui...</a>
          </div>
        </div>
      </div>