<br><br><br><br><br>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <center>
          <h2 class="card-title">Principal</h2>
        </center>
        <img src="/images/logo.png" class="card-img-top" alt="width=" 50" height="300"">
        <center><a href=" /principal/add" class="btn btn-success btn-info btn-lg">Ir Aqui...</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <center>
          <h2 class="card-title">Crear Directiva</h2>
        </center>
        <img src="/images/comites.png" class="card-img-top" alt="width=" 50" height="300"">
        <center><a href=" /comite/add" class="btn btn-success btn-info btn-lg">Ir Aqui...</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <center>
          <h2 class="card-title">Datos IPUC RIVERA-HUILA</h2>
        </center>
        <img src="/images/datos.png" class="card-img-top" alt="width=" 50" height="300"">
       <center> <a href=" /datos/add" class="btn btn-success btn-info btn-lg">Ir Aqui...</a></center>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <center>
          <h2 class="card-title">Planilla Pro-Covid-19</h2>
        </center>
        <img src="/images/covid.png" class="card-img-top" alt="width=" 50" height="300"">
        <center><a href=" /covid/add" class="btn btn-success btn-info btn-lg">Ir Aqui...</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <center>
          <h5 class="card-title">Ingresos</h5>
        </center>
        <img src="/images/ingresos.png" class="card-img-top" alt="width=" 50" height="300"">
        <center><a href=" /ingresos/add" class="btn btn-success btn-info btn-lg">Ir Aqui...</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <center>
          <h5 class="card-title">Egresos</h5>
        </center>
        <img src="/images/egresos.png" class="card-img-top" alt="width=" 50" height="300"">
        <center><a href="/egresos/add" class="btn btn-success btn-info btn-lg">Ir Aqui...</a></center>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <center>
          <h5 class="card-title">Registro De Matrimonio</h5>
        </center>
        <img src="/images/matrimonio.png" class="card-img-top" alt="width=" 50" height="300"">
        <center><a href="/matrimonio/add" class="btn btn-success btn-info btn-lg">Ir Aqui...</a></center>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
        <center>
          <h5 class="card-title">Miembro Nuevo</h5>
        </center>
      <div class="card-body">
        <img src="/images/nuevo.png" class="card-img-top" alt="width=" 50" height="300"">
        <center><a href="/membresia/add" class="btn btn-success btn-info btn-lg">Ir Aqui...</a></center>
      </div>
    </div>
  </div>

</div>