<br><br><br><br>
<div class="row">
  <div class="col-md-8 mx-auto">
    <div class="card">
      <div class="cargbaby">
        <form action="" method="post">
          <h2 class="card-title"><center>DATOS DE LA IGLESIA</center></h2><br>
          <div class="row">
            <div class="col">
              <input type="text" name="entidad" class="form-control" placeholder="Entidad">
            </div>
            <div class="col">
              <input type="text" name="sede" class="form-control" placeholder="Sede">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <input type="text" name="nit" class="form-control" placeholder="Nit">
            </div>
            <div class="col">
              <input type="text" name="direccion" class="form-control" placeholder="Direccion">
            </div>
            <div class="col">
              <input type="text" name="ciudad" class="form-control" placeholder="Ciudad">
            </div>
            <div class="col">
              <input type="text" name="telefono" class="form-control" placeholder="Telefono">
            </div>
            <div class="col">
              <input type="text" name="email" class="form-control" placeholder="E-mail">
            </div>
          </div>
          <br>
          <button type="submit" class="btn btn-success btn-info btn-lg">Enviar</button>
        </form>
      </div>
    </div><br><br>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Consultar</h5>
            <a href="/datos/consultar" class="btn btn-success btn-info btn-lg">Ir Aqui...</a>
          </div>
        </div>
      </div>