<br><br>
<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="cargbaby">
        <form action="" method="post">
          <h2 class="card-title">
            <center>NUEVO MIEMBRO</center>
          </h2><br>
          <div class="row">
            <div class="col">
              <input type="text" name="nombres" class="form-control" placeholder="Nombres">
            </div>
            <div class="col">
              <input type="text" name="apellidos" class="form-control" placeholder="Apellidos">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <input type="text" name="cedula" class="form-control" placeholder="Cedula">
            </div>
            <div class="col">
              <input type="text" name="telefono" class="form-control" placeholder="Telefono">
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <p>fecha de nacimiento</p><input type="date" name="fechaNacimiento">
            </div>
            <div class="col">
              <p>fecha de bautismo</p><input type="date" name="fechaBautismo">
            </div>
          </div><br>
          <div class="row">
            <div class="col-md-6">
              Nombre del pastor que lo bautizo <input type="text" name="nombrePastor" class="form-control"
                placeholder="Nombre del pastor que lo bautizo">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState"></label>
              <select id="inputState" name="sellado" class="form-control">
                <option selected>¿sellado?</option>
                <option>No</option>
              </select>
            </div>
           
          </div>
           <center><button type="submit" class="btn btn-success btn-info btn-lg">Enviar</button></center>
      </div>
    </div>
    </form>
    <br><br>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">consultar</h5>
        <a href="/membresia/consultar" class="btn btn-success btn-info btn-lg">Ir Aqui...</a>
      </div>
    </div>
  </div>
  </div>
</div>