<div class="container p-4">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="card">
        <div class="cargbaby">
          <form action="" method="post">
             <h2 class="card-title"><center>PLANILLA PRO-COVID 19</center></h2><br>
            <div class="row">
              <div class="col">
                <input type="text" name="nombres" class="form-control" placeholder="Nombres">
              </div>
              <div class="col">
                <input type="text" name="apellidos" class="form-control" placeholder="Apellidos">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col">
                <input type="text" name="cedula" class="form-control" placeholder="Cedula">
              </div>
              <div class="col">
                <input type="text" name="telefono" class="form-control" placeholder="Telefono">
              </div>
            </div>
            <br>
            <div class="form-group col-md-6">
              <label for="inputState">¿Ha presentado Sintomas?</label>
              <select id="inputState" name="sintomas" class="form-control">
                <option selected>Si</option>
                <option>No</option>
              </select>
            </div>
            

            <div class="row">
              <div class="col">
                Fecha y hora: <input type="date" name="fecha">
              </div>
              <div class="col">
                <input type="text" name="temperatura" class="form-control" placeholder="temperatura">
              </div>
            </div>
            <br>
            <center><button type="submit" class="btn btn-success btn-info btn-lg">Enviar</button></center>
          </form>

          </form>
        </div>
      </div>
<br>
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">consultar</h5>
        <a href="/covid/consultar" class="btn btn-success btn-info btn-lg">Ir Aqui...</a>
      </div>
    </div>
  </div>
