<br><br>
<div class="container p-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="cargbaby">
          <form action="" method="post">
            <h2 class="card-title">
              <center>FORMULARIO DE EGRESOS</center>
            </h2><br>
            <div class="form-group col-md-4">
              <label for="inputState">Directiva</label>
              <select id="inputState" name="directiva" class="form-control">
                <option selected></option>
                <option>Junta Local</option>
                <option>Damas Dorcas</option>
                <option>Misiones</option>
                <option>Escuela Dominical</option>
                <option>Conquistadores Pentecostales</option>
              </select>
            </div>

              <div class="col-md-6">
              <input type="text" name="concepto" class="form-control" placeholder="concepto">
              </div>
            </div>
            
             <div class="col-md-10"><h6>Directiva</h6>
          <div class="">
              <textarea name="descripcion" rows="6" cols="60"></textarea>
            </div>
            <br>
            <div class="col-md-4">
              <input type="text" name="valor" class="form-control" placeholder="valor">
            </div>
        </div>
        <center><button type="submit" class="btn btn-success btn-info btn-lg">Enviar</button></center>
        </form>
      </div>
<br>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">consultar</h5>
            <a href="/egresos/consultar" class="btn btn-success btn-info btn-lg">Ir Aqui...</a>
          </div>
        </div>
      </div>
    </div>
      